{# usuario_apagar.html #}
{% include "inc/head.html" %}

<link rel="stylesheet" href="css/da.css" >
    <h1>Apagar documento</h1>
    
    <p>Tem certeza de que deseja apagar?</p>
    <p>Não será possível recuperar este documento!</p>

    <form action="documentos_apagar.php" method="post">
        <input type="hidden" value="{{documentos.iddocumento}}">
        <input type="submit" value="Apagar">
    </form>
    
    <div><a href="boasvindas.php?idusuario={{idusuario}}">Cancelar</a></div>
    
{% include "inc/foot.html" %}