
{% extends "inc/base.html" %}

{% block titulo %}user{% endblock %}

{% block conteudo %}

{% if erro == 1 %}
    Bah, usuário ou senha inválidos!
        
{% endif %}
<link rel="stylesheet" href="css/login.css" >
<form class="space-y-5" action="login_verifica.php" method="post">
    <div class="mx-auto max-w-xs input-container">
        <input class="mb-1 block text-sm font-medium text-gray-700" type="text" name="nome" placeholder="Usuário">
    </div>
    <div class="mx-auto max-w-xs input-container">
        <input class="mb-1 block text-sm font-medium text-gray-700" type="password" name="password" placeholder="Senha">
    </div>
    <div class="button-container">
        <input type="submit" value="Acessar" class="button">
        <a href="novo_usuario.php" class="button">Fazer cadastro</a>
    </div>
</form>
{% endblock %}
